<header id="main-header" class="fade-view">
    <div class="container">
        <div class="brand"><a ui-sref="start">TFR</a></div>
        <nav class="top-nav">
            <ul nav-menu="active">
                <li>
                    <a ui-sref="main.about">About</a>
                </li>
                <li>
                    <a ui-sref="main.episodes">Episodes</a>
                </li>
                <li>
                    <a ui-sref="main.patronage">Patronage</a>
                </li>
            </ul>
        </nav>
        <a class="twitter-link" href="http://www.twitter.com/@TheFinalRefrain"><i class="fa fa-twitter"></i></a>

    </div>
</header>
<main ui-view id="sub-view"></main>